html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			br 
			form(action='' method='POST')
				.form-group
					label Name
					input.form-control(type='text' name='name' placeholder='Your name' required='')
					label Age
					input.form-control(type='number' name='age' placeholder='Your age' required='')
					label Movie
					input.form-control(type='text' name='movie' placeholder='Your movie' required='')
					label Email
					input.form-control(type='email' name='email' placeholder='Your email' required='')
					label Password
					input.form-control(type='text' name='password' placeholder='Your password' required='')
					label Status
					input.form-control(type='text' name='status' placeholder='Status' required='')
					//- label(for='author_id') Author ID
					//- input#author_id.form-control(type='text' name='author_id' placeholder='Enter author name' required='')
					br
					input.btn.btn-success(type='submit' value='ADD')
			
					a.btn.btn-info(href='/person') Back


