<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <form method="POST" action="/login">
    <fieldset style="width: min-content; border: 3px solid;">
        <div>
            <h1 style="color:gray; text-align: center; font:status-bar; font-size: x-large;">LOGIN FORM</h1>
        </div>
        <table>
            <tr>
                <td>
                    <label style="opacity: 0.7;">Email</label>
                </td>
                <td>
                    <input style="width: 200px;" type="text" name="email" placeholder="Email" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="opacity: 0.7;">Password</label>
                </td>
                <td>
                    <input style="width: 200px;" type="password" name="password" placeholder="Password" required>
                </td>
            </tr>
        </table>
        <button style="background-color: gray; width: 100px; height: 30px; color: white; display: block; margin: auto; margin-left: 67px;" type="submit" value="submit" >Submit</button>
    </fieldset>
</form>
</body>

</html>